<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Bandwatch</string>
    <key>CFBundleDisplayName</key>
    <string>Bandwatch</string>
    <key>CFBundleIdentifier</key>
    <string>com.bandwatch.Bandwatch</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Bandwatch</string>
    <key>CFBundleIconFile</key>
    <string>Bandwatch</string>
    <key>CFBundleIconName</key>
    <string>Bandwatch</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Bandwatch listens to the microphone to measure and display sound levels within the frequency range you select.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
